* {
    box-sizing: border-box; 
}

body{
    height: 100vh;
    background-color: #212529;
    /* display: flex; */
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #43444b00;
    background-color: #343A40;
    position: relative;
}


/* Styling for header */
.header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #495057;
    border-radius: 5px;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#header-content {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#header-content > label{
    font-weight: bold;
    font-size: 120%;
    color: rgb(194, 189, 189);
}

select{
    width: 25%;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 3px;
    margin-left: 10px;
}


/* Styling for the body of the container */
.container-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.pane{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-body > div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.clock-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ADB5BD;
    padding: 1px;
}

.time{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADB5BD;
}

.digi-time{
    font-weight: bold;
    color: #4b4d4e;
    padding: 0;
    margin: 0;
    font-size: 250%;
}

.country-details{
    flex: 1;
    background-color: #5d6063;
    position: relative;
    padding: 5px;
    border-radius: 3px;
}

.country-details *{
    margin: 0;
}

.city {
    font-size: 200%;
    margin-left: 5px;
    font-weight: bold;
    color: #ADB5BD;
}

.country{
    position: absolute;
    bottom: 0;
    right: 15px;
    bottom: 5px;
    color: rgb(194, 189, 189);
}


/* Styling for the main clock >>> Mid pane */
.mid-pane{ 
    flex: 1.5;
    padding: 40px 0;
}

#mid {
    color: #d0dfee;
    font-size: 420%;
}

#third-city > .country-details{
    color: blue;
}

.mid-pane .country-details{
    border: 1px solid;
    border-right: 0;
    border-bottom: 0px;
    margin-top: 5px;
    border-color: white;
    color: #5d6063;
    padding: 20px;
}

.mid-pane > .clock-container *{
    background-color: #22262a;
    border-radius: 5px;
    /* font-size: 170%; */
}

.mid-pane > .clock-container {
    background-color: #212529;
    font-size: 150%;
    margin: 20px;
}